In [51]:
# Import dependencies
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [52]:
# Read the CSV into a Pandas DataFrame
dataset = pd.read_csv('Final_Dataset.csv')
dataset.head()

,region,year,number_of_deaths,lifetime_risk,mortality_ratio,private_expenditure,government_expenditure,gdp_capita
0,East Asia & Pacific,2000,34000,0.21,113,29.52,4.34,7178.89
1,Europe & Central Asia,2000,3400,0.05,33,24.49,5.88,22220.70
2,Latin America & Caribbean,2000,12000,0.29,99,56.91,2.53,11458.67
3,Middle East & North Africa,2000,8700,0.38,113,44.46,2.48,13554.73
4,North America,2000,510,0.02,12,54.50,5.56,45146.13

In [58]:
# Use Pandas get_dummies to convert categorical data
region = pd.get_dummies(dataset)
region.head(10)

,year,number_of_deaths,lifetime_risk,mortality_ratio,private_expenditure,government_expenditure,gdp_capita,region_East Asia & Pacific,region_Europe & Central Asia,region_Latin America & Caribbean,region_Middle East & North Africa,region_North America,region_South Asia,region_Sub-Saharan Africa
0,2000,34000,0.21,113,29.52,4.34,7178.89,1,0,0,0,0,0,0
1,2000,3400,0.05,33,24.49,5.88,22220.70,0,1,0,0,0,0,0
2,2000,12000,0.29,99,56.91,2.53,11458.67,0,0,1,0,0,0,0
3,2000,8700,0.38,113,44.46,2.48,13554.73,0,0,0,1,0,0,0
4,2000,510,0.02,12,54.50,5.56,45146.13,0,0,0,0,1,0,0
5,2000,147000,1.45,388,73.61,0.87,2520.24,0,0,0,0,0,1,0
6,2000,236000,4.72,846,60.33,1.72,2379.29,0,0,0,0,0,0,1
7,2001,32000,0.20,110,29.90,4.36,7386.65,1,0,0,0,0,0,0
8,2001,3300,0.05,32,24.36,6.04,22723.10,0,1,0,0,0,0,0
9,2001,11000,0.27,95,56.79,2.60,11377.76,0,0,1,0,0,0,0

In [83]:
# Set x and y
X = region.drop("mortality_ratio", axis=1)
y = region[("mortality_ratio")]

In [95]:
# Split between train and test
from sklearn.model_selection import train_test_split

(84, 13)

In [96]:
# Can I use historical data to predict recent data (and potentially future data?)
X_train = region[region['year'] < 2010].drop("mortality_ratio", axis=1)
y_train = region[region['year'] < 2010]['mortality_ratio']
X_test = region[region['year'] >= 2010].drop("mortality_ratio", axis=1)
y_test = region[region['year'] >= 2010]['mortality_ratio']

In [112]:
X_test.head()

,year,number_of_deaths,lifetime_risk,private_expenditure,government_expenditure,gdp_capita,region_East Asia & Pacific,region_Europe & Central Asia,region_Latin America & Caribbean,region_Middle East & North Africa,region_North America,region_South Asia,region_Sub-Saharan Africa
70,2010,23000,0.13,30.64,4.38,11964.95,1,0,0,0,0,0,0
71,2010,2100,0.03,22.26,7.03,27035.97,0,1,0,0,0,0,0
72,2010,8900,0.19,55.07,3.51,13701.07,0,0,1,0,0,0,0
73,2010,8400,0.28,46.06,2.53,16802.83,0,0,0,1,0,0,0
74,2010,620,0.03,49.87,7.94,48516.51,0,0,0,0,1,0,0

In [97]:
# Run Linear Regression model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [98]:
# Fit the model
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [99]:
# Print the coefficient and the intercept for the model
print('Weight coefficients: ', model.coef_)
print('y-axis intercept: ', model.intercept_)

Weight coefficients:  [-9.93152868e-01  7.49245809e-04  1.37133714e+02 -1.34235099e-02
  4.61886496e+00 -4.19819704e-04  5.21435497e+00 -2.98405141e+01
  1.13338245e+01  1.65357837e+01 -3.07601663e+01  4.47595133e+01
 -1.72427961e+01]
y-axis intercept:  2020.8758496087676

In [107]:
# Calculate the model.predict
predictions = model.predict(X_test)
predictions

array([ 79.70918696,  21.30707913,  78.41710719,  89.8787559 ,
        14.09313318, 228.11617738, 625.64940242,  79.51702719,
        19.18680713,  76.14049545,  87.60422647,  12.71489672,
       217.49530682, 601.83432309,  76.27248731,  17.98578745,
        73.5991135 ,  86.49667552,  11.38434525, 207.9394864 ,
       586.22390549,  73.0821976 ,  17.54037486,  71.11163384,
        86.1319031 ,  10.36898205, 198.13007079, 569.42049927,
        69.37898833,  16.75665706,  69.9671095 ,  85.48309701,
        30.8074413 , 190.58290787, 554.83548309,  67.23566998,
        15.86944296,  69.40203632,  83.89284087,  31.43542907,
       183.39396286, 539.31309241])

In [110]:
# Calculate the model.score (R squared)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)
print(training_score)
print(testing_score)

0.9999530487543377
0.9991611032326999

In [ ]:
# Run mean scored error